// Defining Variables

/* VARIABLES */

$primary-color: blue;
$font-size1: 3.125em;
$font-size2: 2.125em;
$text-color: yellow;


/* BASE STYLES */

body {
    background-color: $primary-color;
    h1 {
        font-size: 3.125em;
    }
    p {
        font-size: $font-size2;
        color: $text-color;
    }
}