/* BASE STYLES */
html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    text-align: center;
    h1 {
        font-size: 3.125em;
        text-align: center;
    }
    p {
        font-size: $font-size2;
        color: $text-color;
    }
}

a {
    &:link {
        color: $text-color2;
        text-decoration: none;
    }

    &:visited {
        color: $text-color3;
        text-decoration: none;
    }
}