/* BASE STYLES */
html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-image: url(../img/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -450px;
    h1 {
        text-align: center; 
        color: black;
    }
    h2, h3 {
        font-size: 45px;
    }
    p {
        font-size: $font-size3;
        color: black;
    }
    ul, ol {
        font-size: 20px;
        list-style-type: none;
        li {
            list-style-type: none;
        }
    }
    
}

a {
    &:link {
        color: darkviolet;
        text-decoration: none;
    }

    &:visited {
        color: $text-color3;
        text-decoration: none;
    }

    &:hover {
        color: blue;
    }
}