// Custom classes
// Buttons
// Images

.main-title {
    font-size: $font-size2;
}

.main-header {
    background-image: url(../img/nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -1000px;
}

.arrow {
    height: 100px;
    width: 100px;
}

.resorts img {
    height: 350px;
    width: 350px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

.resorts img:hover {
    height: 500px;
    width: 700px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.tips img {
    height: 350px;
    width: 350px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

.tips img:hover {
    height: 500px;
    width: 700px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}