// Custom classes
// Buttons
// Images

.main-title {
    font-size: $font-size3;
}

.arrow {
    height: 100px;
    width: 100px;
}

.resorts img {
    height: 250px;
    width: 250px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

.resort img:hover {
    height: 400px;
    width: 600px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.tips img {
    height: 400px;
    width: 600px;
}