// Custom classes
// Buttons
// Images

.main-title {
    font-size: $font-size3;
}

.arrow {
    height: 100px;
    width: 100px;
}

.resorts img {
    height: 400px;
    width: 600px;
}

.tips img {
    height: 400px;
    width: 600px;
}