// Defining Variables

/* VARIABLES */

$primary-color: blue;
$secondary-color: #4CE0B3;
$font-size1: 3.125em;
$font-size2: 2.125em;
$font-size3: 1.500em;
$text-color: #171219;
$text-color2: #CEFDFF;
$text-color3: #0D4200;